 
<div class="container">
  <div class="alert alert-success" role="alert">
    Operation was successful. Redirecting to home page...
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "success" %>
<% end %>
